<li>
    <a {{action 'toggleCollapseVersions'}} href="#">
        {{#if collapseVersions}}
            {{fa-icon 'caret-right'}} 
        {{else}}
            {{fa-icon 'caret-down'}}
        {{/if}}
    </a>
    <span>{{document.name}}</span>
    {{#bs-collapse collapsed=collapseVersions}}
    <ul>
        {{#each document.versions as |version|}}
        <li>
            {{#link-to 'documents.versions' version.id}}
                {{moment-format version.timestamp}}
            {{/link-to}}
        </li>
        {{/each}}
    </ul>
    {{/bs-collapse}}
</li>
