<li class="small">
    <a {{action 'toggleCollapseVersions'}} href="#">
        {{#if collapseVersions}}
            {{fa-icon 'caret-right'}} 
        {{else}}
            {{fa-icon 'caret-down'}}
        {{/if}}
        <span>{{document.name}}</span>
    </a>
    {{#bs-collapse collapsed=collapseVersions}}
    <ul class="list-unstyled">
        {{#each document.versions as |version|}}
        <li>
            <input
                type="checkbox"
                onclick={{action 'toggleVersionActive' version.id}}
            />
            {{moment-format version.timestamp}}
        </li>
        {{/each}}
    </ul>
    {{/bs-collapse}}
</li>
