<li>
    <a {{action 'toggleCollapseVersions'}} href="#">
        {{#if collapseVersions}}
            {{fa-icon 'caret-right'}} 
        {{else}}
            {{fa-icon 'caret-down'}}
        {{/if}}
    </a>
    <span>{{document.name}}</span>
    {{#bs-collapse collapsed=collapseVersions}}
    <ul class="list-unstyled">
        {{#each document.versions as |version|}}
        <li>
            {{moment-format version.timestamp}}
        </li>
        {{/each}}
    </ul>
    {{/bs-collapse}}
</li>
