<table class="table table-hover">
    {{#if selectedAttribute}}
        <caption>
            <span>{{selectedAttribute}}</span>
            <button
                {{action 'selectAttribute' null}}
                class="btn btn-danger btn-xs"
            >
                Clear
            </button>
        </caption>
    {{/if}}
    <thead>
        <tr>
            {{#unless selectedAttribute}}<th>Key</th>{{/unless}}
            <th>{{model.document.name}} - {{moment-format model.timestamp}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each visibleAttributes as |attribute|}}
        <tr {{action 'selectAttribute' attribute.key}}>
            {{#unless selectedAttribute}}<td>{{attribute.key}}</td>{{/unless}}
            <td>{{attribute.value}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
