<table class="table table-hover">
    <thead>
        <tr>
            <th>Key</th>
            <th>{{model.document.name}} - {{moment-format model.timestamp}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each visibleAttributes as |attribute|}}
        <tr {{action 'selectAttribute' attribute.key}}>
            <td>{{attribute.key}}</td>
            <td>{{attribute.value}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
