<table class="table table-hover">
    {{#if selectedProperty}}
        <caption>
            <span>{{selectedProperty}}</span>
            <button
                {{action 'selectProperty' null}}
                class="btn btn-danger btn-xs"
            >
                Clear
            </button>
        </caption>
    {{/if}}
    <thead>
        <tr>
            {{#unless selectedProperty}}<th>Key</th>{{/unless}}
            {{#each selectedVersions as |version|}}
            <th>{{version.document.name}} - {{moment-format version.timestamp}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each comparisons as |comparison|}}
        <tr {{action 'selectProperty' comparison.key}}>
            {{#unless selectedProperty}}
                <td class="text-primary">{{comparison.key}}</td>
            {{/unless}}
            {{#each comparison.diffs as |diff|}}
                {{#if diff.isChanged}}
                    <td class="warning">{{diff.value}}</td>
                {{else}}
                    <td>{{diff.value}}</td>
                {{/if}}
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
